@font-face {
    font-family: title;
    src: url("Italiana-Regular.ttf")
}

@font-face {
    font-family: headers;
    src: url("LibreBaskerville-Bold.ttf")
}

@font-face{
    font-family: left-content;
    src: url("Quilon-Regular.woff2");
}

body {
    background: rgb(204,204,204);
}

a{
    color: rgb(85, 26, 139);
}


.my-cv-page {
    position: relative; /*needs to be positioned in order for children to be positioned relative to it. Relative with no top/left changes = position me relative to where I would have been*/
    /*Define some variables for content*/
    --left-column-left: 39px;
    --left-column-width: 276px;
    --header-column-top: 170px;
    --header-column-height: 232px;
    --padding-below-header: 46px;
    --A4-width: 910px; /*todo inject from a4 page. Duplicated*/
    background-color: #eee7d0;
}


.left-column {
    background-color: #cac7b6;
    height: 100%;
    width: var(--left-column-width);
    position: absolute;
    top: 0;
    left: var(--left-column-left);
    z-index: 1;
    box-sizing: border-box; /*So that adding padding doesn't push its dimensions down*/
    padding-top: calc(var(--header-column-top));
    padding-left: 13px;
    padding-right: 13px;
    text-align: center;
}

.main-column {
    position: absolute;
    left: calc(var(--left-column-left) + var(--left-column-width));
    top: calc(var(--header-column-top) + var(--header-column-height));
    box-sizing: border-box; /*So that adding padding doesn't push its dimensions down*/
    padding-top: var(--padding-below-header);
    padding-left: 37px;
    padding-right: 37px;
    width: calc(var(--A4-width) - (var(--left-column-left) + var(--left-column-width)));
    text-align: center;
}

.main-header {
    color: #e4e6dc;
    background-color: #31314c;
    height: 38px;
    display: grid;
    align-items: center;
    font-family: headers;
    font-size: 16px;
    letter-spacing: 5px;
    text-indent: 8px; /*because letter-spacing + centering is offset by the space amount*/
}


.left-column-content {
    font-family: left-content;
    padding-top: 25px;
    padding-bottom: 25px;
}

.main-column-content {
    font-family: Calibri;
    text-align: center;
}

    .main-column-content.profile {
        padding-top: 19px;
        padding-bottom: 19px;
    }

    .main-column-content.experience {
        padding-top: 17px;
        padding-bottom: 17px;
    }

.list-item {
    font-size: 13px;
}

    .list-item:not(:first-child) {
        margin-top: 14px;
    }



.wide-space-heading {
    font-size: 13px;
    letter-spacing: 8px;
    text-indent: 8px; /*because letter-spacing + centering is offset by the space amount*/
}

    .wide-space-heading:not(:first-child) {
        margin-top: 28px;
    }

.employer-heading {
    font-family: kartika;
    font-size: 16px;
}

.employer-position{
    font-family: Calibri;
    font-size: 16px;
    margin-top: 1px;
}

.blurb{
    font-size: 15px;
    text-align: left;
}

.content-heading {
    font-size: 16px;
}

    .content-heading:not(:first-child) {
        margin-top: 16px;
    }

.content-detail {
    font-family: Calibri;
    font-size: 16px;
}

    .content-detail.small-spacing {
        margin-top: 1px;
    }

    .content-detail.medium-spacing {
        margin-top: 3px;
    }



.name-header {
    background-color: #363636;
    height: var(--header-column-height);
    width: 100%;
    position: absolute;
    top: var(--header-column-top);
}

.right-header-portion {
    position: absolute;
    left: calc(var(--left-column-left) + var(--left-column-width));
    height: 100%;
    width: calc(100% - (var(--left-column-left) + var(--left-column-width)));
    display: grid;
    align-items: center;
    justify-content: center;
}

.name {
    font-family: title;
    display: grid;
    justify-content: center;
    font-size: 45px;
    color: white;
    letter-spacing: 30px;
    text-indent: 30px; /*because letter-spacing + centering is offset by the space amount*/
}

