@font-face {
    font-family: title;
    src: url("Italiana-Regular.ttf")
}

@font-face {
    font-family: headers;
    src: url("LibreBaskerville-Bold.ttf")
}

@font-face {
    font-family: left-content;
    src: url("Quilon-Regular.woff2");
}

body {
    background: rgb(204,204,204);
}

a {
    color: rgb(85, 26, 139);
}

.page {
    display: grid;
    grid-template-columns: 4% 26% auto;
    grid-template-rows: 9% 19% auto;
    gap: 0px;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    background-color: #eee7d0;
    --dark-grey: #363636;
    --satin-red: #362323;
    --light-grey: #cccaca;
}

    .page.A4 {
        --page-width: 910px; /*21cm;*/
        --page-height: 1287px; /*29.7cm*/ /*Can't use cm because DPI of screen matters*/
        width: var(--page-width);
        height: var(--page-height);
    }

    .page > div:nth-child(5) {
        grid-row: span 2;
    }


.name-block {
    background-color: var(--dark-grey);
}

.name-content {
    align-content: center;
    padding-left: 15%;
    padding-right: 15%;
}

.band-block {
    background-color: var(--satin-red);
}

.band-content {
    text-align: center;
    padding: 0 4% 0 4%;
}

.page-content {
    text-align: center;
    padding: 35px 5% 35px 5%; /*Maybe rather do this as a fraction of container width*/
}

.main-header {
    color: #c0c3c4;
    background-color: var(--satin-red);
    height: 38px;
    display: grid;
    align-items: center;
    font-family: headers;
    font-size: 16px;
    letter-spacing: 6px;
    text-indent: 8px; /*because letter-spacing + centering is offset by the space amount*/
}

.band-content .main-header {
    color: #272828;
    background-color: #757575;
}


.left-column-content {
    font-family: left-content;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #bfbfbf;
}

.main-column-content {
    font-family: Calibri;
    text-align: center;
}

    .main-column-content.profile {
        padding-top: 19px;
        padding-bottom: 19px;
    }

    .main-column-content.experience {
        padding-top: 17px;
        padding-bottom: 17px;
    }

.list-item {
    font-size: 13px;
}

    .list-item:not(:first-child) {
        margin-top: 14px;
    }



.wide-space-heading {
    font-size: 13px;
    letter-spacing: 8px;
    text-indent: 8px; /*because letter-spacing + centering is offset by the space amount*/
}

    .wide-space-heading:not(:first-child) {
        margin-top: 28px;
    }

.employer-heading {
    font-family: kartika;
    font-size: 16px;
}

.employer-position {
    font-family: Calibri;
    font-size: 16px;
    margin-top: 1px;
}

.blurb {
    font-size: 15px;
    text-align: left;
}

.content-heading {
    font-size: 16px;
}

    .content-heading:not(:first-child) {
        margin-top: 16px;
    }

.content-detail {
    font-family: Calibri;
    font-size: 16px;
}

    .content-detail.small-spacing {
        margin-top: 1px;
    }

    .content-detail.medium-spacing {
        margin-top: 3px;
    }

.name {
    font-family: title;
    display: grid;
    justify-content: center;
    font-size: 45px;
    color: white;
    letter-spacing: 30px;
    text-indent: 30px; /*because letter-spacing + centering is offset by the space amount*/
}
