
@page {/*mhh todo does this do anything. WHat is the @*/
    size: A4;
    margin: 0;
}


@media print {
    body, page {
        margin: 0;
        box-shadow: 0;
    }

    page {
        -webkit-print-color-adjust: exact;
    }
        page * {
            -webkit-print-color-adjust: exact; /*Makes the colours print instead of being white*/
        }
}
